* {
    font-family: "Open Sans", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f0eded;
}

.header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 10px;
}

.header__logo {
    width: 180px;
    height: 100px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.header__nav-link {
    text-decoration: none;
    color: #000;
    padding: 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.header__nav-link:hover {
    background-color: #dcdcdc;
}

.header__nav-link--active {
    background-color: #dcdcdc;
}

.header__nav-item {
    display: flex;
    position: relative;
}

.header__nav-item .count {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 7px;
    border-radius: 50%;
    background-color: #FFCA00;
}

.breadcrumbs {
    max-width: 1200px;
    width: 100%;
    margin: 34px auto;
}

.breadcrumbs__list {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
}

.breadcrumbs__link {
    color: #747171;
    text-decoration-style: dotted;
}

.breadcrumbs__link:hover {
    text-decoration: none;
}

.main {
    max-width: 1200px;
    width: 100%;
    margin: 34px auto;
    padding: 0;
}

.main h1 {
    position: relative;
    z-index: 1;
    padding: 0 10px;
}

.main h1::before {
    position: absolute;
    left: 10px;
    bottom: 0;
    content: "";
    width: 80px;
    height: 12px;
    background-color: #FFCA00;
    z-index: -1;
    border-radius: 30px;
}

.order-parent__form {
    display: flex;
    gap: 50px;
    padding: 0 10px;
}

.order__form, .order__cost-info {
    flex: 1;
}

.order__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.order__form input {
    border: 2px solid #ddd;
    background-color: #fff;
    padding: 12px;
    font-size: 16px;
}

.order__form input:hover {
    border: 2px solid #FFCA00;
}

.order__form input:active {
    border: 2px solid #FFCA00;
    outline: 2px solid #cfa600;
}

.order__form input:focus {
    border: 2px solid #FFCA00;
    outline: 2px solid #cfa600;
}

.order__cost-info {
    display: flex;
    flex-direction: column;
}

.cost__info-separator-block {
    flex: 1;
}

.cost__info-separator {
    width: 100%;
    border-style: dashed;
    border-color: #acabab;
}

.order__cost-info {
    font-size: 16px;
    max-width: 380px;
}

.order__cost-info input {
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.order__cost-info button {
    padding: 12px;
    color: #fff;
    font-size: 16px;
    background-color: #000;
    border: 2px solid #000;
    cursor: pointer;
    transform: all 0.3s ease;
}

.order__cost-info button:hover {
    background-color: #FFCA00;
    border: 2px solid #FFCA00;
    color: #000;
}

.order__cost-info button:active {
    background-color: #FFCA00;
    border: 2px solid #cfa600;
    color: #000;
}

.company_logos {
    max-width: 1200px;
    margin: 34px auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(8, minmax(auto, 136px));
    justify-content: center;
    gap: 14px;
}

.footer {
    background-color: #242424;
    padding: 10px;
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    color: #dcdcdc;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-wrapper a {
    color: #dcdcdc;
    font-size: 16px;
}

.footer-wrapper a:hover {
    color: #fff;
    text-decoration: none;
}

/* media queries */
@media (max-width: 1200px) {
    .main {
        padding: 0;
        box-sizing: border-box;
    }

    .light-bulbs__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .light-bulbs__item {
        width: 100%;
    }

    .company_logos {
        grid-template-columns: repeat(6, minmax(auto, 136px));
    }
}

@media (max-width: 910px) {
    .company_logos {
        grid-template-columns: repeat(4, minmax(auto, 136px));
    }

    .order-parent__form {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 614px) {
    .company_logos {
        grid-template-columns: repeat(3, minmax(auto, 136px));
        justify-content: center;
    }
}

@media (max-width: 858px) {
    .main {
        padding: 0 10px;
        box-sizing: border-box;
    }

    .light-bulbs__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .light-bulbs__item {
        width: 100%;
    }
}

@media (max-width: 582px) {
    .footer-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 522px) {
    .main {
        padding: 0 10px;
        box-sizing: border-box;
    }

    .light-bulbs__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .light-bulbs__item {
        width: 100%;
    }

    .order__form {
        display: flex;
        flex-direction: column;
    }

    .order__cost-info {
        max-width: 600px;
        width: 100%;
    }

    .const__info {
        white-space: nowrap;
        overflow: hidden;
    }

    .const__info input {
        width: 100%;
    }
}

@media (max-width: 470px) {
    .company_logos {
        grid-template-columns: repeat(2, minmax(auto, 136px));
        justify-content: center;
    }
}

@media (max-width: 858px) {
    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .header__nav-list {
        padding: 0;
    }
}

@media (max-width: 700px) {
    .swiper-slide {
        display: flex;
        flex-direction: column;
    }

    .slide__image {
        margin-top: 20px;
    }

    .slide__text {
        margin: 0 20px 20px 20px;
        font-size: 16px;
    }
}

@media (max-width: 640px) {
    .header__nav-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        width: 100%;
    }

    .header__nav-link {
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
        text-align: center;
        background-color: #f1f1f1;
    }

    .header__nav-item .count {
        position: absolute;
        right: 42%;
        left: 50%;
        top: 2px;
        min-width: 10px;
        padding: 3px 7px;
        border-radius: 50%;
        background-color: #FFCA00;
    }
}

@media (max-width: 400px) {
    .header__nav-list {
        grid-template-columns: repeat(1, 1fr);
    }
}